@font-face {
    font-family: rustic ;
    src: url(./font/rustic\ Printed.ttf);
}

@font-face {
    font-family: courier ;
    src: url(./font/courier\ prime.ttf)
}

@font-face {
    font-family: league ;
    src: url(./font/LeagueSpartan-Bold.otf)
}

@font-face {
    font-family: americane;
    src: url(./fonty/HvDTrial_AmericaneCondensed-Black-BF6493bd3993c4c.otf);
}

:root {
    --color1: white;
    --color2: #18191a;
    --body: #001233;
    --navbuttext: #ffffff;
    --currentbutton: #62A1DB;
    --header: #001233;
    --transition-speed: 0.5s;
    --switch: #001233;
    --headerh1: #ffffff;
    --switchborder: #ff595a;
    --content: #17243D;
}

.header-img {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    margin: 10px;
}

.header-container .ulo {
    display: inline-block;
    font-size: 24px;
    line-height: 60px;
    color: var(--headerh1);
    font-family: 'rustic';
    font-size: 50px;
    font-weight: normal;
    transform: translateX(-1190px);
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-image: url("background.png");
    height: 80px;
    display: flex;
    align-items: center;
    transition: background-color var(--transition-speed) ease-in-out;

}


.header-nav {
    font-family: 'league', cursive;
    display: flex;
    justify-content: center;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;

}   

.header-nav ul {
    display: flex;
    margin: 0;
}

.header-nav ul li {
    margin: 0 10px;
}

.header-nav ul li a {
    padding: 0 30px;
    cursor: pointer;
    height: 100%;
    display: block;
    font-family: 'league';
}

body {
    background-image: url("background.png");
    transition: background-color var(--transition-speed) ease-in-out;
}

.btn {
    background-color: var(--content);
    border-radius: 15px 15px 0px 0px;
    color: var(--currentbutton);
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
}

.spacer {
    height: 15px;
}

.nav-button {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    background: var(--navb);
    color: var(--navbuttext)
}

.nav-button:after {
    content: "";
    width: 85%;
    height: 0%;
    background: var(--content);
    position: absolute;
    transition: all 0.3s ease-out;
    bottom: 0;
}

.nav-button:hover::after {
    width: 100%;
    height: 25%;
    border-radius: 15px 15px 0px 0px;
}

.nav-button span {
    text-align: center;
    color: var(--navbuttext);
    transition: all 0.3s ease-in-out;
}

.nav-button:hover span {
    transform: scale(1.05) translateY(-3px);
}

                                     /* as much as possible wag na magalaw tong nasa top pre ty */

                                     
.content {
    background-color: var(--content);
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'ggsans-medium', sans-serif;
    border-radius: 15px 15px 0px 0px; /* to */
    color: var(--color2);
    height: auto; /* Kung gusto mo pahabain ung border na blue sa about pre eto lang un:> */
    display: flex;
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
    justify-content: space-between;
}

.social-icons {
    z-index: 1000;
    padding: 50px;
    transform: translateX(300px);
    margin-top: 50px;
}

.icon {
    display: block;
    margin-bottom: 10px;
    width:auto;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .icon img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }

  .icon:hover {
    background-color: #4267B2; /* Change color on hover (Facebook blue color) */
    transform: scale(1.2); /* Scale up on hover */
  }

  .twitter:hover {
    background-color: #1DA1F2; /* Twitter blue color */
  }
  
  .instagram:hover {
    background-color: #E1306C; /* Instagram pink color */
  }

.facebook {
    margin: 50px;
}
.twitter {
    margin: 50px;
}
.instagram {
    margin: 50px;
}

.contact {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 60px;
    color: white;
    transform: translateX(550px);
   
}

.media {
    font-family: 'americane';
    font-size: 80px;
    color: white;
    transform: translateX(-600px);
    margin-top: 250px;
}

