@font-face {
    font-family: rustic ;
    src: url(./font/rustic\ Printed.ttf);
}

@font-face {
    font-family: courier ;
    src: url(./font/courier\ prime.ttf)
}

@font-face {
    font-family: league ;
    src: url(./font/LeagueSpartan-Bold.otf)
}

.header-container .ulo {
    display: inline-block;
    font-size: 24px;
    line-height: 60px;
    color: var(--headerh1);
    font-family: 'rustic';
    font-size: 50px;
    font-weight: normal;
    transform: translateX(-1190px);
}

h1 {
    display: inline-block;
    font-size: 24px;
    line-height: 60px;
    color: var(--headerh1);
    font-family: 'rustic';
    font-size: 50px;
    font-weight: normal;
}


:root {
    --color1: white;
    --color2: #18191a;
    --body: #001233;
    --navbuttext: #ffffff;
    --currentbutton: #62A1DB;
    --header: #001233;
    --transition-speed: 0.5s;
    --switch: #001233;
    --headerh1: #ffffff;
    --switchborder: #ff595a;
    --content: #17243D;
    --recipes:#EDF7F6;;
}


.header-img {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    margin: 10px;
}

header h1 {
    display: inline-block;
    font-size: 24px;
    line-height: 60px;
    color: var(--headerh1);
    font-family: 'rustic', cursive;
    font-size: 50px;
    transition: color var(--transition-speed) ease-in-out;
    font-weight: normal;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-image: url('background.png');
    height: 80px;
    display: flex;
    align-items: center;
    transition: background-color var(--transition-speed) ease-in-out;

}

.parent {
    margin-left: auto;
}

.header-nav {
    font-family: 'rustic', cursive;
    display: flex;
    justify-content: center;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;

}

.header-nav ul {
    display: flex;
    margin: 0;
}

.header-nav ul li {
    margin: 0 10px;
}

.header-nav ul li a {
    padding: 0 30px;
    cursor: pointer;
    height: 100%;
    display: block;
    font-family: 'league';
}

body {
    background-image: url("background.png");
    transition: background-color var(--transition-speed) ease-in-out;

}

.btn {
    background-color: var(--content);
    border-radius: 15px 15px 0px 0px;
    color: var(--currentbutton);
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
}

.spacer {
    height: 15px;
}

.nav-button {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    background: var(--navb);
    color: var(--navbuttext)
}

.nav-button:after {
    content: "";
    width: 85%;
    height: 0%;
    background: var(--content);
    position: absolute;
    transition: all 0.3s ease-out;
    bottom: 0;
}

.nav-button:hover::after {
    width: 100%;
    height: 25%;
    border-radius: 15px 15px 0px 0px;
}

.nav-button span {
    text-align: center;
    color: var(--navbuttext);
    transition: all 0.3s ease-in-out;
}

.nav-button:hover span {
    transform: scale(1.05) translateY(-3px);
}

.content {
    background-color:#17243d;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'ggsans-medium', sans-serif;
    border-radius: 15px 15px 15px 15px;
    color: var(--color2);
    display: flex;
    flex-direction: column;
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
    
    align-items: center;
    overflow: auto;
}

.content .top {
    font-style: italic;
}

.content h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 60px;
   
}

.content p {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: rgb(255, 255, 255);

}

.content .filler-img {
    height: auto;
    width: 750px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
    

}

td {
    border: none;
    padding: 10px;
    text-align: center;
    transition: all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
    
}


td:hover {
    transform: scale(1.10,1.10);
    /* zoom in the hovered cell */
}

td:hover img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: box-shadow 0.5s ease-in-out;
}

table:hover td:not(:hover) {
    transform: scale(0.9, 0.9);
}


td img {

    width: 90%;
    height: auto;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    transition: box-shadow 0.5s ease-in-out;
}

td p {
    font-family: 'league';
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(255, 254, 254);
}

td h2{
    font-family: 'league';
    font-size: 20px;
    color: rgb(255, 254, 254);
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 25px;
    --light: white;
    --yellow: #ffd801;
    --dark: #18191a;
    float: right;
    margin-right: 25px;
}

.switch-label {
    position: absolute;
    width: 4.5rem;
    height: 2.3rem;
    background-color: var(--switch);
    border-radius: 30px;
    cursor: pointer;
    border: 3px solid var(--switchborder);
    transition: background-color var(--transition-speed) ease-in-out, border-color var(--transition-speed) ease-in-out;
}

.checkbox {
    position: absolute;
    
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    

}

.checkbox:checked~.slider {
    background-color: var(--color1);
    transition: background-color var(--transition-speed) ease-in-out;
    
}

.slider::before {
    content: "";
    position: absolute;
    top: 0.35rem;
    left: 0.4rem;
    
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--switchborder);
    transition: background-color var(--transition-speed) ease-in-out;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30x);
    transform: translateX(34px);
    -webkit-box-shadow: inset 7px -4px 0px 0px var(--yellow);
    box-shadow: inset -9px -4px 0px 0px var(--yellow);
    background-color: var(--color1);
}


.expand-content {
    background-color: var(--recipes);
    justify-content: center;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    border-radius: 15px;
    margin-bottom: 10px;
}

.expand-content.show {
    max-height:2500px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.expand-content ul h2{
    margin-left:50px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 5px;
    color: black;
}

.expand-content .second {
    margin-left:100px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}
.expand-content .seconds {
    margin-left:100px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

.what {
    padding-left: 480px;
    padding-top: 10px;
    
}
.expand-content ul{
    margin-left:100px;
    margin-right:120px;
    margin-bottom:50px;
}
.expand-content ul li{
    list-style-type:disc;
    font-size: 18px;
    line-height: 25px;
    color: black;
}
.expand-content ol li{
    line-height: 25px;
}
.expand-content ol{
    margin-left:100px;
    margin-right:120px;
    font-size: 18px;
    margin-bottom: 30px;
    list-style-type: decimal;
}

.expand-content h2{
    font-weight: bold;
    margin-left:50px;
    font-size: 25px;
    font-family: 'ggsans-bolder', sans-serif;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.expand-content .ing {
    margin-top: 50px;
    font-weight: bold;
    margin-left:50px;
    font-size: 25px;
    font-family: 'ggsans-bolder', sans-serif;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.expand-content .fillerimg1{
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    float: right;
    transform: translateX(-50px);
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 15px;
}
.expand-content .fillerimg3{
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    float: right;
    transform: translateX(-80px);
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 15px;
}
.expand-content .fillerimg4{
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    float: right;
    transform: translateX(-80px);
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 5px;
}
.expand-content .fillerimg{
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    float: right;
    transform: translateX(-80px);
    margin: 0 auto;
    margin-bottom: 30px;
    size: 20px;
    margin-top: 50px;
}
.expand-content .fillerimg2{
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    float: right;
    transform: translateX(-80px);
    margin: 0 auto;
    margin-bottom: 30px;
    size: 20px;
    margin-top: 20px;
}
.expand-content p {
    font-style: italic;
    text-align: center;
    color: black;
}

#contents {
    width: 100%;
    max-width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
}

#content1{
    font-size: 100px;
}
h3{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    line-height: 60px;
    align-items: center;

}
